# Ignore bundler config.
/.bundle
/vendor/bundle

/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# local gem
splittable*.gem

# rspec
.rspec_status
/spec/examples.txt

.tool-versions
