name: Publish Gem

on:
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  publish:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Release Gem
        uses: marcelotoledo5000/publish-rubygems-action@master
        env:
          GITHUB_TOKEN: ${{secrets.BUNDLE_GITHUB__COM}}
          RUBYGEMS_API_KEY: ${{secrets.RUBYGEMS_RELEASE}}
          GIT_EMAIL: automated_release@useblu.com.br
          GIT_NAME: 'Automated Release'
          RELEASE_COMMAND: bundle exec rake release
